section {
    padding: 100px 0;
}

.project{
    font-family: 'Poppins', sans-serif;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.project {
    color: #fff;
    background: #111;
}

.project .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.project .title::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 307px;
    height: 3px;
    background: #fff;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
}

.project .carousel .card {
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    height: 430px;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.project .carousel .card:hover {
    background: #69d75b;
}

.project .carousel .card .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.project .carousel .card:hover .box {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}

.project .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.project .carousel .card img {
    height: 250px;
    width: 250px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
    background: #fff;
    border: 5px solid #69d75b;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.project .carousel .card:hover img {
    border-color: #fff;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}

.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid #69d75b!important;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.owl-dot.active {
    width: 35px;
    border-radius: 14px;
}

.owl-dot.active,
.owl-dot:hover {
    background: #69d75b!important;
}

@media screen and (max-width:991px){
    .max-width {
        padding: 0 50px;
    }
}

@media screen and (max-width:947px) {
    .max-width {
        max-width: 800px;
    }
}

@media screen and (max-width: 390px) {
    .project .title::before {
        width: 250px;
    } 
}